.header {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 240px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    width: 172px;
    height: 69.93px;
    top: 41.99px;
    left: 356px;  
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    margin-left: 37px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.menu li {
    margin-left: 20px;
    position: relative;
}
  
.menu li.active,
.menu li:hover {
    color: #EB3738;
}
  
.menu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #EB3738;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
}
  
.menu li.active::after,
.menu li:hover::after {
    width: 100%;
    opacity: 1;
}

.reg-menu {
    width: 240px;
    height: 33.96px;
    display: flex;
    align-items: center;
    margin-left: 203px;
}
  
.Sign-In {
    width: 111px;
    height: 33.96px;
    background: #EB3738;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
.p-Sign-In {
    font-size: 22.84px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}
  
.Sign-Up {
    width: 101px;
    height: 19.98px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 28px;
    display: flex;
    align-items: center;
    padding: 0px;
    background: transparent;
}
  
.p-Sign-Up {
    font-size: 16.61px;
    font-weight: 600;
    color: #000000;
}

