.faq_section {
    width: 1916px;
    height: 846px;
    margin-top: 80px;
}

.faq_title {
    font-family: Similar; //Должен быть Inter но он платный
    font-size: 60px;
    font-weight: 600;
    line-height: 72.61px;
    text-align: center;
}