.order {
  display: flex;
  flex-direction: column;
  margin-top: 148px;
  width: 100%;
  max-width: 1199px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.order .how-to-get {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 810px;
  height: 119.98px;
  font-size: 48.56px;
  font-weight: 700;
  line-height: 60.12px;
  text-align: center;
  position: relative;
}

.how-to-get::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 311px;
  height: 8px;
  background-color: #E84438;
}

.clue {
  display: flex;
  align-items: center;
  margin-top: 71px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clue .clue-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.clue .clue-item-img {
  width: 73px;
  height: 73px;
  border-style: groove;
  border-color: #000000;
  border-radius: 15px;
  padding: 15px;
  border-width: 2px;
}

.clue .about-paragraph {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clue .name-paragraph {
  width: 241px;
  height: 32px;
  font-size: 25.77px;
  margin-top: 10px;
  font-weight: 700;
  line-height: 31.9px;
  text-align: center;
  color: #000000;
}

.clue .info-paragraph {
  width: 280px;
  height: 68px;
  font-family: Ubuntu;
  font-size: 16.84px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 33.68px;
  text-align: center;
  color: #646464;
}

.get-now {
  display: flex;
  justify-content: center;
  margin-top: 72.12px;
  border: none;
}

.get-now a {
  margin-top: 72.12px;
  display: inline-block;
  margin-top: 0;
}

.get-now-btn {
  width: 331.06px;
  height: 76.39px;
  border-radius: 8.27px;
  border: none;
  background-color: #E84438;
  font-size: 30.62px;
  font-weight: 400;
  line-height: 36.74px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
}