.content {
    width: 100%;
    display: flex;
    margin-top: 73px;
    justify-content: center;
}

.navigation {
    display: flex;
    width: 1163px;
    height: 48px;
    align-items: center;
    background-color: #E9ECEF;
    text-align: left;
}