.content {
    width: 100%;
    display: flex;
    margin-top: 73px;
    justify-content: center;
}

.navigation {
    display: flex;
    width: 1163px;
    height: 48px;
    text-align: left;
}

.content-preview {
    display: flex;
    justify-content: center;
    height: 136px;
}