.header-about-page {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-about-page {
    width: 172px;
    height: 69.93px;
    margin-right: 602px;
}

.p-Sign-In {
    margin-left: 10px;
    font-size: 15.88px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
}

.link_sign-up {
    position: relative; /* Необходимо для правильного позиционирования псевдоэлемента */
    font-size: 15.38px;
    font-weight: 600;
    line-height: 16px;
    text-align: right;
    color: #E65A57;
    text-decoration: none;
}

.link_sign-up::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Отступ от текста до линии */
    width: 100%;
    height: 2px; /* Толщина линии */
    background-color: #E65A57; /* Цвет линии */
}
