.header-about-page {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-about-page {
    width: 172px;
    height: 69.93px;
    margin-right: 602px;
}

.p-sign-in {
    margin-left: 10px;
    font-size: 15.88px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
}

.link-sign-in {
    color: #FFFFFF;
    text-decoration: none;
}

.link-sign-up {
    position: relative;
    font-size: 15.38px;
    font-weight: 600;
    line-height: 16px;
    text-align: right;
    color: #E65A57;
    text-decoration: none;
}

.link-sign-up::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #E65A57;
}
