.form-control1 {
    display: flex;
    justify-content: row;
    width: 429.49px;
    height: 39.67px;
    border-radius: 22px;
    border: none;
}

.form-control1::placeholder {
    width: 37.07px;
    height: 17.25px;
    font-size: 16.94px;
    font-weight: 400;
    line-height: 21.71px;
    margin-left: 20px;
    padding-left: 19.84px;
}

.form-control2 {
    width: 348.69px;
    height: 39.67px;
    border-radius: 22px;
    border: none;
}

.form-control2::placeholder {
    width: 231.11px;
    height: 17.25px;
    font-size: 16.94px;
    font-weight: 400;
    line-height: 21.71px;
    padding-left: 19.84px;
    // text-align: left;
}

.btn-primary {
    position:absolute;
    background-color: #E65A57;
    width: 115.3px;
    height: 41.67px;
    border-radius: 22px;
    border: none;
    color: #FFFFFF;
    font-size: 16.31px;
    font-weight: 400;
    line-height: 25.87px;
    text-align: center;
    left: 73.4%;
}