.popular {
    display: flex;
    align-items: center;
    width: 1369px;
    height: 446px;
    margin-left: 292px;
    margin-right: 259px;
}

.container {
    width: 1208px;
    height: 446px;
    
}