.popular {
    margin-top: 60.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    height: 446px;
    margin-left: 259px;
    margin-right: 259px;
}

.popular .popular_shops {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 810px;
    height: 119.98px;
    font-size: 48.56px;
    font-weight: 700;
    size: 50px;
    line-height: 60.12px;
    text-align: center;
    color: #E84438;
}

.popular .carousel_section {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.popular .see_more {
    justify-content: center;
    width: 168px;
    height: 50px;
    margin-top: 66px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #E84438;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 21.39px;
    font-weight: 700;
    line-height: 26.49px;
}

.see_more_more {
    display: inline-block;
    margin-top: 0;
}